.job-card {
    background: var(--card-background);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    padding: var(--spacing-md);
    transition: var(--transition);
    border: 1px solid var(--border-color);
    margin-bottom: var(--spacing-md);
    cursor: pointer;
}

/* Header de la card */
.job-header {
    display: flex;
    gap: var(--spacing-sm);
    align-items: flex-start;
    margin-bottom: var(--spacing-md);
    padding-bottom: var(--spacing-sm);
    border-bottom: 1px solid var(--border-color);
}

.company-logo {
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    border-radius: var(--radius-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 0.938rem;
    flex-shrink: 0;
    overflow: hidden;
}

.company-info {
    flex: 1;
    min-width: 0;
}

.company-name {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    color: var(--text-secondary);
    font-size: 0.875rem;
    font-weight: 500;
}

.company-meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-sm);
    font-size: 0.813rem;
}

/* Badges */
.badges-container {
    display: flex;
    gap: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
    flex-wrap: wrap;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-xs);
    padding: 2px var(--spacing-sm);
    border-radius: 100px;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5;
    height: 22px;
}

/* Estados */
.job-card:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-md);
    border-color: var(--primary-color);
}

.job-card.active {
    border-color: var(--primary-color);
    background: var(--primary-light);
}